# CityBikes

Send a request to CityBikes for the city of your choice.

In [2]:
import requests
import pandas as pd
import json

In [ ]:
# the end point for City = Vancouver is 'v2/networks/mobibikes'

url = 'http://api.citybik.es/v2/networks/mobibikes' 

response = requests.get(url)

# Checking if request was successful
if response.status_code == 200:
    data = response.json()
else:
    print("Failed to retrieve data:", response.status_code)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [ ]:
# exploring the structure of data recieved
data

In [7]:
#converting data in pandas dataframe
df = pd.json_normalize(data['network']['stations'])

In [8]:
#exploring the columns and data recieved
df.head()

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.ebikes,extra.has_ebikes,extra.last_updated,extra.normal_bikes,extra.renting,extra.returning,extra.slots,extra.uid
0,24,11,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,10th & Cambie,2024-04-15T20:41:18.630000Z,0,True,1713213494,11,True,True,36,0001
1,5,11,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,Yaletown-Roundhouse Station,2024-04-15T20:41:18.619000Z,1,True,1713213556,10,True,True,16,0004
2,14,12,6d42fa40360f9a6b2bf641c7b8bb2862,49.279764,-123.110154,Dunsmuir & Beatty,2024-04-15T20:41:18.620000Z,0,True,1713213217,12,True,True,26,0005
3,15,1,66f873d641d448bd1572ab086665a458,49.260599,-123.113504,12th & Yukon (City Hall),2024-04-15T20:41:18.628000Z,1,True,1713213675,0,True,True,16,0007
4,1,15,485d4d24c803cfde829ab89699fed833,49.264215,-123.117772,8th & Ash,2024-04-15T20:41:18.635000Z,1,True,1713213526,14,True,True,16,0008

In [10]:
#selecting only required columns from the complete dataframe
bikes_data = df[['name','free_bikes','latitude','longitude']]

#renaming the column 'name' to 'bike_station_name'
bikes_data = bikes_data.rename(columns={'name':'bike_station_name'})

Put your parsed results into a DataFrame.

In [11]:
bikes_data = bikes_data.sort_values(by='bike_station_name')

bikes_data.reset_index(drop=True,inplace=True)

bikes_data.head()

   bike_station_name  free_bikes   latitude   longitude
0      10th & Cambie          11  49.262487 -123.114397
1    10th & Columbia           3  49.262206 -123.109091
2  10th & Commercial           1  49.261403 -123.070102
3      10th & Fraser           1  49.261510 -123.089413
4   10th & Granville           2  49.262598 -123.138921

In [12]:
bikes_data.shape

#so we have 251 different bike stations in Vancouver city

(251, 4)

In [13]:
# saving the bikes data to csv for Part 2
bikes_data.to_csv('bikes_data_part1.csv', sep=',', index=False, encoding='utf-8')